body{background-color: grey;}
*{
  margin: 0;
  padding: 0;  
}

div{
  line-height: 0%;
  
}
canvas{
  outline:rgb(56, 54, 54) 1px solid; ;
  image-rendering:pixelated;
  position: absolute;
  left: 0;
}