#root {
  width: 100vw;
  height: 100vh;
}
body{background-color: grey;}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
#app{
  position: absolute;
  display: inline-block;
  padding: 0;
  height: 144px;
  width: 160px;
  top:50%;
  left: 50%;
  outline: rgb(56, 54, 54) 1px solid;
  box-sizing: content-box;
  background-color: #002b59;
  
  transform: translate(-50%, -50%) scale(3);;
  overflow: hidden;
}
div{
  line-height: 0%;
  
}